.match-details-page{

    display:flex;
    flex-direction:column;
    gap:24px;

    padding:24px;
}

.match-details-page__content{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:24px;

    align-items:start;
}

.match-details-page__left{

    display:flex;

    flex-direction:column;

    gap:24px;
}

.match-details-page__right{

    display:flex;

    flex-direction:column;

    gap:24px;
}

@media(max-width:992px){

    .match-details-page__content{

        grid-template-columns:1fr;

    }

}