:root {

    /* ===========================
       COLORS
    =========================== */

    --color-background: #11151d;
    --color-surface: #191f2a;
    --color-surface-light: #202734;
    --color-border: #2b3445;

    --color-white: #ffffff;
    --color-text: #d9dde5;
    --color-text-light: #9aa4b2;

    --color-primary: #ffffff;

    --color-live: #ff355d;

    --color-orange: #ffb22c;
    --color-blue: #3d8bff;

    --color-success: #00c853;

    /* ===========================
       SHADOW
    =========================== */

    --shadow-card: 0 4px 15px rgba(0,0,0,.25);

    /* ===========================
       BORDER
    =========================== */

    --border-radius-small: 8px;
    --border-radius: 14px;
    --border-radius-large: 18px;

    /* ===========================
       SPACING
    =========================== */

    --spacing-xs: .35rem;
    --spacing-sm: .60rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* ===========================
       FONT
    =========================== */

    --font-family:
        "Inter",
        "Segoe UI",
        sans-serif;

    --font-xs: .75rem;
    --font-sm: .875rem;
    --font-md: 1rem;
    --font-lg: 1.2rem;
    --font-xl: 1.8rem;

    /* ===========================
       TRANSITION
    =========================== */

    --transition: .25s ease;

}