.add-player-card {
    width: 100%;
    background: #171c26;
    border: 1px solid #2b3142;
    border-radius: 18px;
    padding: 24px;
    box-sizing: border-box;
}

.add-player-card h2 {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}


.form-group {
    margin-bottom: 22px;
}

.player-name label,
.player-role label {
    display: block;
    color: #7b86a2;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 10px;
}

.player-name input,
.player-role input {
    width: 100%;
    height: 47px;
    border-radius: 12px;
    border: 1px solid #31384a;
    background: #202533;
    color: white;
    padding: 0 16px;
    font-size: 13px;
    outline: none;
    box-sizing: border-box;
}

.player-name input::placeholder,
.player-role input::placeholder {
    color: #5b6275;
}

.player-row {
    display: flex;
    gap: 16px;
    margin-bottom: 26px;
}

.player-name {
    color: #7b86a2;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0px;
}

.player-role {
    flex: 1;
}

.add-player-btn {
    width: 100%;
    height: 47px;
    border: none;
    border-radius: 12px;
    background: #d8d8d8;
    color: #111;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.add-player-btn:hover {
    background: white;
}
.role-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.role-select {
    flex: 1;
    height: 46px;
    background: #232838;
    border: 1px solid #3a4257;
    border-radius: 12px;
    color: white;
    padding: 0px 63px;
    font-size: 14px;
}

.add-role-btn {
    width: 46px;
    min-width: 46px;
    height: 42px;

    border: none;
    border-radius: 8px;

    background: #3b82f6;
    color: white;

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.add-role-btn:hover {
    background: #2563eb;
}
.add-role-btn-div{
   padding-top: 1.5rem; 
}